.container__orderview{
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.orderview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
    gap: 30px;
}

.button{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    transition: all .42s ease;
}

.button:hover{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
}

.loading{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
