.container__detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 30px;
}

.description{
    max-width: 500px;
}

.detail{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}