.container__cartitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.cartitem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #0000001a;
}

.container__item{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container__pricequantity{
    display: flex;
    align-items: center;
}

.container__img{
    overflow: hidden;
}

.img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.name{
    margin-bottom: 0;
    font-size: 1.9rem;
}

.category{
    font-size: 1rem;
}


.price{
    margin-bottom: 0;
    font-size: 1rem;
    border-right: 1px solid #0000003b;
    padding: 0 20px 0 0;
    
}


.quantity{
    margin-bottom: 0;
    margin-left: 20px;
}

.subtotal{
    margin-bottom: 0;
}

.container__footeritem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}